
/*======================================================
              Formating for small screens
========================================================*/
@media (min-width: 576px){
.jumbotron {
    padding: none!important;
  }
  .tour-vid {
    height: auto!important;
  }
  .pic-gallery{
    height: auto!important;
  }
}
@media(max-width: 768px) {
  .head-image {
    height: auto!important;
  }
  h1{
      font-size: 1.5rem;
    }
  .footer{
      padding-left: 0px!important;
    }
  .vid-cont-hidden{
      height: 2px;
      visibility: hidden;
    }
    .tour-vid {
      height: auto!important;
    }
    .pic-gallery{
      height: auto!important;
    }
    .jumbotron {
      padding: none;
    }
}
@media(max-width: 1024px) {
  .head-image {
    height: auto!important;
  }
  .vid-cont {
    width: 90%!important;
    height: 80%!important;
  }
  .vid-cont-hidden{
    height: 2px;
    visibility: hidden;
  }
  .tour-vid {
    height: auto!important;
  }
  .pic-gallery{
    height: auto!important;
  }
  .jumbotron {
    padding: none;
  }
}

@media(max-width: 990px) {
  #logo{
    visibility: hidden;
  }
  .navbar-light .navbar-brand {
    color: rgb(22, 27, 31);
}
  .logoplace{
    visibility: visible;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .tour-vid {
    height: auto!important;
  }
  .pic-gallery{
    height: auto!important;
  }
  .jumbotron {
    padding: none;
  }
}
@media(min-width: 990px) {
  .logoplace{
    visibility: hidden
  }
  .jumbotron {
    padding: none;
  }
}
/*=============================================
===============================================
*/

#logo{
  top: .5rem;
  left: 1rem;
  width: 20rem;
  height: auto;
  z-index: 2000;
  position: fixed;
  transition: 0.2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}
.logo{
  width: 40%;
}

.head-image{
  height: 80vh;
  text-align: center;
  background-image: url('./header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(2, 157, 245);;
  padding-top: 3.5rem;
  padding-left: 0px;
}
.head-image p{
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0;
}
.register{
  margin-top: 3rem;
  border-radius: 2rem;
}
.enrol{
  margi-top: .5rem;
  border-radius: 2rem;
}
.extras{
  background-color: rgb(2, 157, 245);
  margin-top: 2.5rem;
  border-radius: 2rem;
}
.story{
  margin-left: 2rem;
  margin-right: 2rem;
}
.about{
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.features{
  color: #222222;
  text-align: center;
  height: auto;
  margin: 1rem;
}
.tag-1{
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
.tag-1 p{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.icons{
  width: 5.5rem;
  margin-bottom: 1rem;
}
.fees{
  color: white;
  height: inherit;
  text-align: center;
  padding-right: 10rem;
  padding-left: 10rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.pay-cont{
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 3rem 3rem;
}
.contact p{
  color: gray;
  font-size: 1rem;
  font-weight: bolder;
}
.contact{
  top: -1px;
  width: 200px;
  height: 40px;
  z-index: 2001;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  background-color: white;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-top: .5rem;
  transition: .5s;
  -moz-transition: .5s;
  
}
.contact:hover{
  top: 0;
  z-index: 2001;
  width: 60%;
  height: 300px;
  color: rgb(190, 189, 189);
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  background-color: rgb(29, 29, 29);
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.contact:hover p{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bolder;
}
.values{
  text-align: center;
}
.payment{
  color: white;
  width: 200px;
  height: 250px;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  display: inline-block;
  background-color: #1f2020;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}
.payment:hover{
  background-color: rgb(2, 157, 245);
}
.tour-vid{
  height: auto;
  text-align: center;
  margin-top: 3.5rem;
}
#tour_btn{
  border-radius: 2rem;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}
#tour_btn:hover{
  background-color: #222222;
  border-radius: 2rem;
}
.vid-cont{
  width: 60%;
  height: 70%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.vid-cont-hidden{
  height: 3rem;
  visibility: hidden;
}
.footer{
  color: #1f2020);
  width: 100%;
  height: auto;
  margin-top: 9rem;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
}
.foot_contact{
  padding-left: 3.5rem;
  border-left: 0.06rem solid gray;
}
#social-cont{
  margin-top: 3rem;
}
.btn-link {
  font-weight: bolder;
  color: #0c0c0c;
  text-decoration: none;
}
.btn-link {
  font-weight: bolder;
  color: #0c0c0c;
  text-decoration: none;
}
.btn-link:focus{
  color: rgb(2, 157, 245);
  text-decoration: none;
}
.btn-link:hover{
  color: gray;
  text-decoration: none;
}

.mb-0:nth-child(1){
  color: #f5a802;
}
.btn-link:nth-child(2){
  background-color: #f50202;
}
.headingTwo{
  background-color: #02a8f5;
}
.card {
  border: none;
}
.modal-body{
  width: 667px;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
 
  padding: 1rem;
}
.info{
  text-align: left;
}
.pic-gallery{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: .2rem;
  border: 1px solid rgb(228, 228, 228);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.pic-gallery-hidden{
  visibility: hidden;
}
.pic-gallery-hidden img{
  height: 0px;
  visibility: hidden;
}
.thumbnail{
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}
.mySlides{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.mySlides:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}