body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

p{
  font-size: 1.1rem;
}
/*
=============================================
          Navigation 
=============================================
*/
.bg-light {
  background-color: #ffffff!important;
  box-shadow: 0px -4px 8px 0px black;
  -webkit-box-shadow: 0px -4px 8px 0px black;
  -moz-box-shadow: 0px -4px 8px 0px black;
}
/*
=============================================
            Headings and fonts
=============================================
*/
h1{
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}
h4{
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}
.pay-cont h4{
  color: #fff;
}
.social-link{
  color: grey;
}
.social-link:hover{
  color: #029df5;
  text-decoration: none;
}

/*
==============================================
formatting for Modals
==============================================
*/

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff0;
  background-clip: padding-box;
  border: none;
  border-radius: .3rem;
  outline: 0;
}

